h1 {
  font-weight: 700;
}

h3 {
  margin: 1.75rem 0;
}

h6 {
  font-weight: 700;
}

.definitions {
  list-style: none;
}

.white-container {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
}
