.about-hero-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/assets/img/slide-two-hero.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 70vh;
}

.hero-header {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
  padding-bottom: 2rem;
}

.hero-text {
  color: white;
  width: 75%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.btn-hero {
  background-color: transparent;
  background-image: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  margin: 2rem 0;
  text-transform: none;
}

.btn-hero:hover,
.btn-hero:focus,
.btn-hero:active {
  background-color: transparent;
  background-image: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
  color: #fff;
  border: 0;
}

.white-container-5 {
  padding: 5rem 0;
}

.white-container-3 {
  padding: 3rem 0;
}

.red-container {
  padding: 5rem 0;
  background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.section-header-blue,
.section-header-white,
.section-header-red {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header-blue {
  color: #2a86c3;
}

.section-header-white {
  color: white;
}

.section-header-red {
  color: var(--global-primary-bg-color);
  text-align: end;
}

.description {
  font-size: 1.4rem;
  font-weight: 500;
  width: 75%;
  margin: 0 auto;
  color: #045471;
  text-align: end;
}

.about-access-container {
  background: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
  padding: 3rem 4rem;
  border-radius: 5rem 0 0 5rem;
}

.access-item {
  margin: 1rem 0;
}

.access-icon {
  color: white;
  font-size: 3.5rem;
}

.about-icon {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.access-text {
  font-size: 1.5rem;
  color: white;
  padding-left: 2rem;
  font-weight: 500;
}

.about-care-item {
  width: 60%;
  margin: 1rem auto;
  margin-bottom: 4rem;
  text-align: center;
}

.about-description {
  font-size: 1.2rem;
  font-weight: 400;
  width: 75%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.btn-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 0;
  border-radius: 4rem;
  background-color: #fff;
  transition: box-shadow 220ms linear, color 220ms linear;
  color: var(--global-primary-bg-color);
}

.btn-team:hover {
  box-shadow: 0 4px 8px 4px #bbb;
  color: white;
  background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.team-img {
  width: 90%;
  border-radius: 50%;
}

.team-button-text {
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 1rem;
}

.team-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #555;
  padding: 3rem 1rem;
}

@media screen and (max-width: 991px) {
  .about-access-container {
    border-radius: 2rem;
    width: 90%;
    margin: 2rem auto 0 auto;
    padding: 1rem;
  }

  .description {
    text-align: center;
  }

  .access-item {
    margin: 1rem auto;
  }

  .team-description {
    text-align: center;
  }

  .section-header-red {
    text-align: center;
  }

  #teamRow {
    margin: 0;
  }
}
