.urgent-hero-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/assets/img/pexels-mikhail-nilov-7468920.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}

.white-container,
.blue-container,
.red-container {
  padding: 5rem 0;
}

.blue-container {
  background: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
}

.red-container {
  background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.grey-container {
  background: #eee;
}

.white-container-3 {
  padding: 3rem 0;
}

.rounded-corners {
  border-radius: 2.5rem;
}

.rounded-card-right {
  border-radius: 2.5rem 0 0 2.5rem;
}

.rounded-card-left {
  border-radius: 0 2.5rem 2.5rem 0;
}

.white-header,
.blue-header,
.red-header {
  font-size: 2.5rem;
  font-weight: 700;
}

.blue-header {
  color: #2a86c3;
}

.red-header {
  color: var(--global-primary-bg-color);
}

.white-header {
  color: white;
}

.hero-body {
  text-align: start;
}

.hero-header {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  padding-bottom: 2rem;
}

.hero-text {
  color: white;
  width: 75%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.blue-text {
  color: #2a86c3;
  font-size: 1.2rem;
  font-weight: 500;
}

.red-text {
  color: var(--global-primary-bg-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-blue,
.btn-red {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  margin: 2rem 0;
  text-transform: none;
  transition: all 220ms ease-in-out;
}

.btn-blue {
  background: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
}

.btn-blue:hover,
.btn-blue:focus,
.btn-red:hover,
.btn-red:focus {
  color: white;
  transform: translate(0px, -3px);
}

.btn-red {
  background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.left-blue-img {
  width: 100%;
  border-radius: 2.5rem;
  transform: translate(2rem, -1.2rem);
  border: 2px solid #3fbbe6;
}

.left-red-img {
  width: 100%;
  border-radius: 2.5rem;
  transform: translate(2rem, -1.2rem);
  border: 2px solid var(--global-primary-bg-color);
}

.right-red-img {
  width: 100%;
  border-radius: 2.5rem;
  transform: translate(-2rem, -1.2rem);
  border: 2px solid var(--global-primary-bg-color);
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.carousel-indicators {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  width: fit-content;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 2rem;
}

.slide-icon {
  color: white;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.slide-text {
  font-size: 1.5rem;
  color: white;
  padding-left: 2rem;
  font-weight: 500;
}

.slide-item {
  width: 60%;
  margin: 1rem auto;
  margin-bottom: 4rem;
  text-align: center;
}

.icon-list-item {
  margin: 0.5rem 0;
}

.icon-list-text {
  font-size: 1.5rem;
}

.emergency-alert {
  background: #fafafa;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0px 4px 16px 0px #052c65;
}

@media screen and (max-width: 991px) {
  .fullscreen {
    display: none;
  }
}
