.planning-hero-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../public/assets/img/slide-three-hero.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
}

.white-container,
.blue-container,
.red-container,
.grey-container {
  padding: 5rem 0;
}

.blue-container {
  background: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
}

.red-container {
  background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.grey-container {
  background: #eee;
}

.white-container {
  background: white;
}

.white-container-3 {
  padding: 3rem 0;
}

.rounded-corners {
  border-radius: 2.5rem;
}

.white-header,
.blue-header,
.red-header {
  font-size: 2.5rem;
  font-weight: 700;
}

.blue-header {
  color: #2a86c3;
}

.red-header {
  color: var(--global-primary-bg-color);
}

.white-header {
  color: #fff;
}

.heading-icon {
  color: white;
  font-size: 6rem;
  margin: 4rem;
}

.hero-body {
  text-align: start;
}

.hero-header {
  font-size: 3rem;
  font-weight: 600;
  color: white;
  padding-bottom: 2rem;
}

.hero-text {
  color: white;
  width: 75%;
  margin: 0 auto;
  font-size: 1.2rem;
}

.blue-text {
  color: #2a86c3;
}

.red-text {
  color: var(--global-primary-bg-color);
}

.white-text {
  color: #fff;
}

.p-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-blue,
.btn-red {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  margin: 2rem 0;
  text-transform: none;
  transition: all 220ms ease-in-out;
}

.btn-blue {
  background: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
}

.btn-blue:hover,
.btn-blue:focus,
.btn-red:hover,
.btn-red:focus {
  color: white;
  transform: translate(0px, -3px);
}

.btn-red {
  background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.btn-lite-blue {
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  color: #2a86c3;
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  margin-top: auto;
  text-transform: none;
}

.btn-lite-blue:hover,
.btn-lite-blue:focus,
.btn-lite-blue:active {
  background-color: #fff;
  color: #2a86c3;
  border: 0;
}

.btn-lite-red {
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  color: var(--global-primary-bg-color);
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  margin-top: auto;
  text-transform: none;
  width: fit-content;
}

.btn-lite-red:hover,
.btn-lite-red:focus,
.btn-lite-red:active {
  background-color: #fff;
  color: var(--global-primary-bg-color);
  border: 0;
}

.left-white-img {
  width: 100%;
  border-radius: 2.5rem;
  transform: translate(2rem, -1.2rem);
  border: 2px solid white;
}

.icon-list-item {
  margin: 0.5rem 0;
  width: 100%;
}

.list-icon-md {
  font-size: 1.75rem !important;
}

.icon-list-text {
  font-size: 1.5rem;
}

@media screen and (max-width: 991px) {
  .fullscreen {
    display: none !important;
  }

  .right-white-img,
  .left-white-img {
    transform: translate(0, 0);
    border: 0;
  }
}
