.footer-clean {
  margin-top: auto;
}

.main-footer {
  background-color: #DDD;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-footer .row {
  padding: 2rem 0;
  width: 90%;
}

.logo-link {
  color: black;
  font-size: 1.5rem;
}

.logo-link:hover,
.logo-link:focus,
.contact-link:hover {
  color: #2A86C3;
}

.contact-link {
  color: black;
  text-decoration: none;
}

.btn-footer {
  background-color: transparent;
  background-image: linear-gradient(270deg, #2A86C3 50%, #3FBBE6 100%);
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  height: auto;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  margin-bottom: 1.5rem;
  text-transform: none;
}

.btn-footer:hover,
.btn-footer:focus,
.btn-footer:active {
  background-color: transparent;
  background-image: linear-gradient(270deg, #2A86C3 50%, #3FBBE6 100%);
  color: #fff;
  border: 0;
}

.bottom-footer {
  background-color: transparent;
  background-image: linear-gradient(270deg, #2A86C3 50%, #3FBBE6 100%);
}

@media screen and (max-width: 991px) {
  .main-footer .row {
    width: 100%;
  }

  .footer-contact {
    text-align: center;
  }

  .footer-contact ul {
    margin: 1rem auto;
    padding: 0;
  }

  .footer-contact .ms-5 {
    margin-left: 0 !important;
  }
}