.store-list {
    overflow: auto;
    background-color: white;
    margin-top: 2rem;
    height: 630px;
    border: 1px solid #ccc;
    border-radius: 2.5rem;
    padding: 0 1rem;
}

.store-item p {
    margin-bottom: 0;
}

.location-contact {
    margin: 12px 0;
}

.location-contact a {
    text-decoration: none;
}

.location-search {
    border-radius: 2rem;
}

.divider {
    margin-top: 2rem;
    color: #999;
}

.btn-phone,
.btn-phone-red,
.btn-phone-blue {
    padding: .5rem 1.5rem;
    color: white;
    font-weight: 500;
    border: 0;
    transition: padding 220ms ease-in-out;
    border-radius: 4rem;
}

.btn-phone {
    background: #555
}

.btn-phone-red {
    background: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
}

.btn-phone-blue {
    background: linear-gradient(270deg, #2A86C3 50%, #3FBBE6 100%);
}

.btn-phone:hover,
.btn-phone:focus,
.btn-phone-blue:hover,
.btn-phone-red:hover,
.btn-phone-blue:focus,
.btn-phone-red:focus {
    color: white;
    padding: .5rem 2.5rem;
}