.dropend:hover .child-menu {
  display: block;
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
}

.dropend .child-menu {
  margin-left: 0;
  width: max-content;
  border-radius: 0;
  padding: 0;
}

.dropend .dropdown-toggle::after {
  content: none;
}

.btn-link-dropdown {
  padding: 1rem .5rem;
  border: 0;
  border-radius: 0;
  color: #045471;
  transition: color 200ms linear;
}

.list-link {
  padding: 1rem .5rem;
  color: #045471;
  transition: color 200ms linear;
}

.list-link:hover,
.btn-link-dropdown:hover {
  color: var(--global-primary-bg-color);
}