.dropdown:hover .parent-menu {
  margin-top: 0;
  display: block;
}

.dropdown-menu {
  width: max-content;
  min-width: 100%;
  border-radius: 0;
  text-align: center;
  padding: 0;
}

.dropdown-toggle::after {
  content: none;
  border: 0;
  margin: 0;
}

.btn-nav-dropdown {
  --bs-btn-padding-x: 18px;
  --bs-btn-padding-y: 12px;
  --bs-btn-font-weight: 600;
  --bs-btn-color: #045471;
  --bs-btn-border-color: transparent;
  --bs-btn-border-width: 0;
  --bs-btn-border-radius: 0;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-hover-color: var(--global-primary-bg-color);
  --bs-btn-active-color: var(--global-primary-bg-color);
  --bs-btn-active-border-color: transparent;
}

.btn-nav-dropdown::after,
.list-btn::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--global-primary-bg-color);
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0%;
  transition: opacity 270ms linear;
}

.btn-nav-dropdown:hover::after,
.list-btn:hover::after,
.btn-nav-dropdown:focus::after,
.list-btn:focus::after {
  opacity: 100%;
}

.list-btn {
  padding: 12px 30px;
  color: #045471;
  font-weight: 500;
}

.list-btn:hover,
.list-btn:active {
  color: var(--global-primary-bg-color);
}