#resources-button:hover {
  border-bottom-color: black;
}

.vr {
  margin: 0.25rem 1.5rem;
}

.navigation-container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .navigation-container {
    max-width: 1320px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 992px) {
  .navigation-container {
    max-width: 1110px;
  }
}

.nav-top {
  background-color: transparent;
  background-image: linear-gradient(270deg, #2a86c3 50%, #3fbbe6 100%);
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.nav-top-right {
  font-size: 0.75rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-top-right {
  margin-left: auto;
  margin-right: 0px;
  color: white;
  font-size: 1rem;
}

.nav-top-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-top-link:hover {
  color: white;
}

.nav-bottom .navbar-brand {
  width: 13%;
}

.nav-mobile {
  display: none;
  width: 50%;
}

.navbar-toggler {
  display: none;
}

.btn-testing {
  background-color: transparent;
  background-image: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
  color: white;
  font-weight: 500;
  border: 0;
  transition: transform 220ms linear;
  border-radius: 4px;
}

.btn-testing:hover,
.btn-testing:focus {
  color: white;
  transform: translate(0px, -3px);
}

.btn-patient {
  color: var(--global-primary-bg-color);
  border-color: var(--global-primary-bg-color);
  font-weight: 500;
  transition: transform 220ms linear;
  border-radius: 4px;
}

.btn-patient:hover,
.btn-patient:focus {
  color: white;
  background-color: transparent;
  background-image: linear-gradient(20deg, #e61c26 0%, #b81018 100%);
  transform: translate(0px, -3px);
}

@media screen and (max-width: 1100px) {
  .btn-testing {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .nav-top {
    display: none;
  }

  .full-screen {
    display: none !important;
  }

  .nav-bottom .navbar-brand {
    width: 40%;
  }

  .nav-mobile {
    display: block;
  }

  .navbar-toggler {
    display: block;
  }

  .navigation-container {
    margin: 0;
  }

  .btn-patient {
    display: none;
  }
}
